.title {
  font-size: 32px;
  color: #263035;
  margin-bottom: 16px;
  font-weight: bold;
}

.wrapper {
  display: flex;
  overflow: hidden;
}

.content {
  font-size: 24px;
  position: relative;
  word-break: break-all;
  color: #858e99;
  overflow: hidden;
  text-overflow: ellipsis;
}

.before {
  float: right;
}

.btnWrap {
  float: right;
  clear: both;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.btn {
  display: flex;
  align-items: center;
}

.showBtn {
  visibility: visible;
}

.hideBtn {
  visibility: hidden;
}

.allContent {
  visibility: hidden;
  position: absolute;
}

.ellipsis {
  position: relative;
  left: -10px;
}

.noContent {
  margin-bottom: 0;
}
